# Database
DB_HOST=aws-1-ap-northeast-2.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres
DB_USER=postgres.apppqsjhyolchaonkaqw
DB_PASSWORD=avCpmLSLO0TwzH33

# Server
NODE_ENV=development
PORT=3000

# JWT
JWT_SECRET=todolist-jwt-secret-key-2026
JWT_EXPIRES_IN=1h

# Frontend Server URL
CORS_ALLOWED_ORIGIN=https://hjkim-todolist-fe.vercel.app
